#root {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

body {
  /* background-color: black; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#left-space {
  grid-column: span 1;
  width: 100%;
}

#right-space {
  grid-column: span 4;
  display: grid;
  width: 100%;
}

#chart_area {
  /* testes */
  grid-column: span 3;
  width: 100%;
  height: 100vh;
  align-content: center; /* testes */
  place-items: center; /* testes */
  overflow: hidden;
}

.buttonTypeOnly {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: var(--lable-size);
  color: var(--interactive-indicator);
}
.buttonTypeOnly:hover {
  color: var(--interaction-feedback);
  cursor: pointer;
}

.botaoNormal {
  box-sizing: border-box;
  background: var(--interactive-indicator);
  color: var(--elements-colorS);
  border: none;
  padding: 10px;
  text-transform: uppercase;

  margin-top: 10px;
  margin-bottom: 10px;
}
.botaoNormal:hover {
  background: var(--interaction-feedback);
  cursor: pointer;
}
.botaoNormal:active {
  border: 2px, solid, var(--elements-color);
  padding: 8px;
}

#lefttBar::-webkit-scrollbar {
  display: none;
}
#lefttBar {
  scrollbar-width: none; /* Firefox */
}

#rightBar::-webkit-scrollbar {
  display: none;
}
#righttBar {
  scrollbar-width: none; /* Firefox */
}

.list-option {
  color: var(--interactive-indicator);
  cursor: default;
}
.list-option:hover {
  color: var(--interaction-feedback);
}

.inputInStyle {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border-radius: 0px;
  border: 2px solid var(--elements-color);
  font-size: var(--section-title-siz);
  background: var(--background-color);
  color: var(--elements-color);
}
.inputInStyle:focus {
  border-radius: 0px;
  outline: none;
}

.inputGuizmos {
  display: inline-block;
  width: calc(60% - 20px);
  padding: 10px 10px;
  border-radius: 0px;
  border: 2px solid var(--elements-color);
  font-size: var(--mini-lable-size);
  margin-left: 10px;
  margin-right: 10px;
  background: var(--background-color);
  color: var(--elements-color);
}
.inputGuizmos:focus {
  border-radius: 0px;
  outline: none;
}
.inputGuizmos::-webkit-outer-spin-button,
.inputGuizmos::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputGuizmos {
  -moz-appearance: textfield;
}
